//----[VARIABLES]
@import 'reset';

$deepBlue: #032f3e;
$fontsColor: #fff;
$sectionHeading: 24px;
$robotoFont: 'Roboto', sans-serif;

@mixin columnFlexElement {
	display: flex;
	flex-direction: column;
}

@mixin banner {
	max-width: 100%;
	position: relative;
	color: white;

	.banner-content {
		position: absolute;
		right: 5rem;
		top: 4rem;
	}

	.wrapper {
		@include columnFlexElement;
	}

	img {
		width: 100%;
	}

	.title {
		text-transform: uppercase;
		font-size: 6rem;
		font-weight: lighten;
		margin-bottom: 1.5rem;
	}
	.sub-title {
		font-weight: bold;
		font-size: 4rem;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $robotoFont;
}

#main-nav {
	background: $deepBlue;
	min-width: 100%;
	height: 4rem;

	.wrapper {
		padding: 0.5rem;
		width: 100%;
		min-height: 100%;
	}

	.wrapper ul {
		min-width: 100%;
		min-height: 100%;
		display: flex;
		justify-content: space-evenly;

		li {
			min-height: 100%;
			width: (100% / 6);
			margin-left: 1rem;
			text-align: center;
			a {
				text-decoration: none;
				color: $fontsColor;
			}
			list-style: none;
			&:hover {
				background-color: lighten($deepBlue, 5);
			}
		}
	}
}

section h1 {
	font-size: $sectionHeading;
	color: $deepBlue;
}

.lead-banner {
	@include banner;
}

.lessons-banner {
	@include banner;
	ul {
		list-style: none;
		@include columnFlexElement;
		margin-top: 5rem;
	}
	li {
		margin-top: 3rem;
		font-size: 2.75rem;
	}
	.banner-content {
		left: 3rem;
	}
}
